<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./style.css">

	<style>
		<% var users = []; %>
		<% var usernames = []; %>
		<% tweets.forEach(user=>{ %>
			<% if(users.indexOf(user.id) == -1){ %>
				<% users.push(user.id) %>
				<% usernames.push(user.name)%>
				.<%= user.id%>::before{content:"<%= user.name%>";}
				.<%= user.id%>::after{background-image:url("<%- user.icon%>");}
			<% } %>
		<% }) %>
	</style>
</head>
<body class="entry-content">
	<table style="width:100%; max-width:400px; margin:0 auto;">
		<tr id="upperwrap">
			<th><% 
			var text = usernames.join(',');
			var charcount = function (str) {
				len = 0;
				str = escape(str);
				for (i=0;i<str.length;i++,len++) {
					if (str.charAt(i) == "%") {
						if (str.charAt(++i) == "u") {
							i += 3;
							len++;
						}
						i++;
					}
				}
				return len;
			}
			if(charcount(text)>35){
				text = text.slice(0,8) +'...'+ text.slice(-6);
			}
			%>
			<%= text %>(<%= users.length %>)</th>
		</tr>
		<td style="background:#88a4d4">
			<% tweets.forEach(comment=>{
				if(comment.isOwner){
					if(comment.text!=""){ %>
						<p class="my-line"><span class="my-toge"><%- comment.text %><span/></p>
					<% }
					comment.images.forEach(url=>{ %>
						<p class="my-line stamp"><img src="<%- url %>"></p>
					<% })
				}else{
					if(comment.text!=""){ %>
						<p class="other-line <%= comment.id %>"><span class="other-toge"><%- comment.text %><span/></p>
					<% }
					comment.images.forEach(url=>{ %>
						<p class="other-line stamp <%= comment.id %>"><img src="<%- url %>"></p>
					<% })
				}
			}) %>
			<div style="clear:both;"></div>
		</td>
	</table>
</body>
</html>
